* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  color: #eee;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

.box {
  min-height: 200px;
  background-color: black;
  margin-bottom: 20px;
}
body {
  background-color: #14171f;
}

/* thanh nav */
nav {
  background-color: black;

  z-index: 10;
  width: 100vw;
  top: 1vw;
  left: 50%;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  border: 1px solid #fff;
  background-color: black;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

ul.sub-menu {
  z-index: 10;
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sub-menu:hover {
  overflow: initial;
}
li:hover .sub-menu {
  max-height: 100vh;
}

.sub-menu-child {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.sub-menu li:hover .sub-menu-child {
  max-height: 100vh;
}

/* left */
#address .box {
  min-height: 100px;
}
#address-img .box {
  min-height: 100px;
  height: 100px;
}
#address-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-shadow {
  box-shadow: 5px 5px 5px 5px black;
}
#left > .box {
  background-color: #14171f;
}
.material-icons {
  font-size: 15px;
}
.star {
  color: gold;
}
.box-title h3 {
  color: #eee;
  font-size: 23px;
}
.box-content p {
  color: #eee;
}

#address .btn {
  border-radius: 20px;
}

/* slider */
.item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.owl-item {
  height: 100%;
}
.item {
  height: 100%;
}
.owl-carousel .owl-stage-outer {
  height: 100px;
}

.owl-carousel .owl-stage {
  height: 100%;
}

.slider-content h3 {
  color: #eee;
  font-size: 20px;
}
.slider-content h2 {
  color: #eee;
}
.slider-content p {
  color: #eee;
}

.seats {
  display: grid;
  grid-template-columns:
    repeat(2, 15px) 50px repeat(3, 15px) 50px repeat(2, 15px)
    50px;
  grid-gap: 10px;
}
.seat {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: lawngreen;
}

.empty {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: lawngreen;
}
.booked {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: lawngreen;
}
.selected {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: lawngreen;
}
/* right */
/* sell ticket */
#sell-ticket.box {
  position: sticky;
  top: 20px;
}

/* footer */
.light-shadow {
  box-shadow: 2px -4px 10px 6px #fff;
}
