* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  background-color: black;
}
.row {
  display: flex;
  margin-bottom: 10px;
  margin-right: 0;
}

.col {
  width: 100%;
  margin-right: 10px;
  padding: 0 10px;
}
.col:last-child {
  margin-right: 0;
  padding-right: 0;
}
.box {
  min-height: 200px;
  background-color: lightcoral;
}

/* thanh nav */
nav {
  background-color: black;
  position: fixed;
  z-index: 10;
  width: 98vw;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, 0);
}

/* mua vé  */
.slider {
  min-height: 100vh;
  background-color: lightskyblue;
  position: relative;
}

.slide {
  transition: 1s;
  position: absolute;
}

.buy-ticket {
  background-color: lightgreen;
  min-height: 50vh;
  width: 25vw;
  position: absolute;

  top: 55%;
  right: 5%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}
.buy-ticket h1 {
  font-size: 20px;
}

.tab-header {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.tab-header h1 {
  padding: 10px;
}

.tab-content {
  display: flex;
  flex-grow: 9;
}
#by-cinema {
  margin-right: 20px;
  position: relative;
}

.tab-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 2px;
  width: 100%;
  background-color: rgb(53, 178, 219);
}

.tabChange {
  background-color: rgb(53, 178, 219);
}
#ct-cinema {
  display: none;
  background-color: lightcoral;
  height: 100%;
}
#ct-film {
  display: none;
  background-color: lightyellow;
  height: 100%;
}
.d-flex {
  display: flex;
}

#tab-footer {
  display: flex;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  border: 1px solid #fff;
  background-color: black;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sub-menu:hover {
  overflow: initial;
}
li:hover .sub-menu {
  max-height: 100vh;
}

.sub-menu-child {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.sub-menu li:hover .sub-menu-child {
  max-height: 100vh;
}

/* main */
main {
  background-image: url(../img/movie-details-bg.jpg);
}
main.mt-5 {
  margin-top: 5rem !important;
}

/* khuyến mãi */
#promotion {
  position: relative;
}
#promotion h3 {
  color: #fff;
  padding: 40px 20px 0px 30px;
}

/* about */
#about .box {
  min-height: 70vh;

  box-shadow: -1px 0px 20px 15px rgba(255, 255, 255, 0.596);
  background-color: black;
}

#about h4 {
  margin-top: 10px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}
#about p {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 100%;
}
/* about time */
#ab-time .circle {
  background-color: gold;
}

/* about price */
#ab-price .circle {
  background-color: lawngreen;
}
/* about quality */
#ab-quality .circle {
  background-color: midnightblue;
}

/* movie */
#movie .tab-header {
  padding-left: 15px;
}
#movie h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding: 10px;
}
#movie #tab-current-film h3::after {
  content: "";
  background-color: rgb(53, 178, 219);
  height: 2px;
  width: 97vw;
  bottom: -4px;
  left: 0;
  position: absolute;
}
.movieTabCurrent {
  background-color: rgb(61, 178, 207);
}
#movie #tab-current-film {
  margin-right: 20px;
}

#movie .row {
  padding: 0 20px;
}

#movie img {
  width: 100%;
  border-radius: 5px;
}

#movie .box-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
}

#movie .box {
  background-color: transparent;
}

#content-upcoming-film {
  animation: fade 0.5s 1 linear;
}
#content-current-film {
  animation: fade 0.5s 1 linear;
}

/* bình luận và tin tức */
#comment-and-new .comment-header h3 {
  position: relative;
  padding: 0 20px;
}
#comment-and-new .comment-header h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  left: 20px;
  bottom: 0;
  background-color: rgb(61, 178, 207);
}
#comment-and-new .box {
  background-color: transparent;
  color: #fff;
  border: unset;
}
#comment-content {
  padding-left: 20px;
}
.btn-like-group i.fa-users {
  font-size: 20px;
}
.btn-like-group i.fa-star {
  color: gold;
}
#comment-and-new {
  background-image: url(../img/movie-details-bg.jpg);
}
#comment-and-new h3 {
  color: #fff;
}

.new-header h3 {
  position: relative;
  padding: 0 20px;
}
#new-content {
  padding-left: 20px;
}
#comment-and-new .new-header h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  left: 20px;
  bottom: 0;
  background-color: rgb(61, 178, 207);
}
/* footer */
footer .box {
  margin-top: 20px;
  box-shadow: -1px 0px 20px 15px #fff;
  background-color: black;
}

/* animation */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* moblie responsive */
