* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive, sans-serif;
}
/* style scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightcyan;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffc107e0;
  cursor: progress;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: #eee;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  background-color: black;
}
.row {
  display: flex;
  margin-bottom: 10px;
  margin-right: 0;
}

.col {
  width: 100%;
  margin-right: 10px;
  padding: 0 10px;
}
.col:last-child {
  margin-right: 0;
  padding-right: 0;
}
.box {
  min-height: 200px;
  background-color: lightcoral;
}

.box {
  min-height: 200px;
  background-color: black;
  margin-bottom: 20px;
}
body {
  background-color: #14171f;
}

header {
  margin-bottom: 200px;
}
/* thanh nav */
nav {
  background-color: black;
  position: fixed;
  z-index: 10;
  width: 96vw;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
}
nav ul {
  margin-bottom: 0;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}
nav a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: 0.2s;
  transform: scaleX(0);
  transform-origin: right left;
}

nav a:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(1);
}

nav > ul > li:first-child {
  padding: 10px 100px;
  border-radius: 20px;
}
nav > ul > li:last-child {
  border-radius: 20px;
}

.logo-link {
  font-size: 30px;
}

.logo-world {
  font-size: 35px;
}

nav li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

/* animation */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* nav mobile handle */
#nav-mobile {
  display: none;
}

.navMobileGoesIn {
  animation: navMobileGoesIn 1s forwards;
}
.navMobileGoesOut {
  animation: navMobileGoesOut 1s forwards;
}

.dongchay {
  display: none;
}
.dongChayChay {
  animation: dongChayChay 1s forwards;
}

.dongChayBienMat {
  animation: dongChayBienMat 1s forwards;
}
@keyframes navMobileGoesIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes navMobileGoesOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes dongChayChay {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes dongChayBienMat {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/* film world */

.film-world-icon {
  height: 100%;
  width: 40px;
}
.film-world-content {
  position: relative;
}
.film-world-content::after {
  content: "";
  position: absolute;
  left: 105%;
  top: 10%;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-width: 0 3px 3px 0;
  border-color: #fff;
  border-style: solid;
  transform: rotate(45deg);
}

/* cinema-angle */
.cinema-angle {
  position: relative;
}
.cinema-angle:hover .cinema-angle-sub {
  max-height: 100vh;
}
.cinema-angle-sub {
  max-height: 0;
  overflow: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.5s;
}
.cinema-angle-sub:hover {
  overflow: initial;
}
.cinema-angle-sub li {
  color: #fff;
}
.cinema-angle-sub li:nth-child(2) {
  position: relative;
}
.cinema-angle-sub li:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 65%;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: #ffff;
  transform: rotate(-45deg);
}
.cinema-angle-sub li:nth-child(2):hover {
  cursor: pointer;
}

.cinema-angle-sub li:nth-child(2):hover .cinema-angle-sub-sub {
  max-height: 100vh;
}

.cinema-angle-sub li:nth-child(2):hover .cinema-angle-sub {
  overflow: unset;
}

ul {
  list-style: none;
}
ul li {
  background-color: black;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sub-menu:hover {
  overflow: initial;
}
li:hover .sub-menu {
  max-height: 100vh;
}

.sub-menu-child {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.sub-menu li:hover .sub-menu-child {
  max-height: 100vh;
}

.cinema-angle-sub-sub {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  transition: 0.5s;
  max-height: 0;
  overflow: hidden;
}
.cinema-angle-sub-sub li:nth-child(2):hover {
  cursor: initial;
}
.cinema-angle-sub-sub li:nth-child(2)::after {
  display: none;
}

.cinema-angle-content {
  position: relative;
}
.cinema-angle-content::after {
  content: "";
  position: absolute;
  left: 105%;
  top: 10%;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* member */
.member {
  position: relative;
}
.member-content {
  position: relative;
}
.member-content::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  left: 105%;
  top: 10%;
  background-color: transparent;
  border-style: solid;
  border-color: #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.member:hover .member-sub {
  max-height: 100vh;
  overflow: initial;
}

.member-sub {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.member-sub li {
  color: #ffff;
}
.member-sub-2-css {
  position: relative;
}
.member-sub-2-css:hover {
  cursor: pointer;
}
.member-sub-2-css::after {
  content: "";
  position: absolute;
  right: 75%;

  height: 10px;
  width: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: #ffff;
  transform: rotate(135deg);
}

.member-sub-2-css:hover .member-sub-child {
  max-height: 100vh;
  overflow: initial;
}
.member-sub-child {
  position: absolute;
  right: 100%;
  width: 100%;
  top: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

/* left */
#address .box {
  min-height: 100px;
}
#address-img .box {
  min-height: 100px;
  height: 100px;
}
#address-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-shadow {
  box-shadow: 5px 5px 5px 5px black;
}
#left > .box {
  background-color: #14171f;
}
.material-icons {
  font-size: 15px;
}
.star {
  color: gold;
}
.box-title h3 {
  color: #eee;
  font-size: 22px;
}
.box-content p {
  color: #eee;
}

#address .btn {
  border-radius: 20px;
}

/* slider */
.item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.owl-item {
  height: 100%;
}
.item {
  height: 100%;
}
.owl-carousel .owl-stage-outer {
  height: 100px;
}

.owl-carousel .owl-stage {
  height: 100%;
}

.slider-content h3 {
  color: #eee;
  font-size: 20px;
}
.slider-content h2 {
  color: #eee;
}
.slider-content p {
  color: #eee;
}

#action {
  color: rgb(0, 132, 255);
}
/* text-ellipsis */
/* #text-ellipsis {
  text-overflow: red;
  overflow: initial;
  white-space: initial;
} */

/* #text-ellipsis:active {
  text-overflow: red;
  overflow: initial;
  white-space: initial;
}
#text-ellipsis:focus {
  text-overflow: red;
  overflow: initial;
  white-space: initial;
}
#text-ellipsis:hover {
} */

/* ghế - seat */
.date-tim-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#choose-seat-content {
  padding: 10px;
  color: #fff;
  font-size: 30px;
}
.sl {
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  color: #fff;
  outline: unset;
}
.sl option {
  background-color: black;
  outline: unset;
}
.sl:last-child {
  margin-right: 0;
}
.seats {
  display: grid;
  grid-template-columns:
    repeat(2, 15px) 50px repeat(3, 15px) 50px repeat(2, 15px)
    50px;
  grid-gap: 10px;
}
.seat {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: greenyellow;
}

.total-price {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
#price {
  position: relative;
}
#price::after {
  content: "$";
  color: #fff;
  margin-left: 10px;
}

.empty {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: greenyellow;
}
.booked {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: rgb(243, 24, 24);
}
.selected {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: purple;
}
/* right */
/* sell ticket */
#sell-ticket.box {
  position: sticky;
  top: 95px;
}
.float-right {
  float: right;
}

/* footer */
footer > .box:first-child {
  box-shadow: -1px 0px 20px 15px #fff;
  background-color: black;
}

footer .col {
  color: rgba(255, 255, 255, 0.877);
}

footer .box {
  box-shadow: initial;
  padding: 10px 30px;
  background-color: transparent;
  margin-bottom: 0;
}

footer .box .box-header {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.788);
  text-transform: uppercase;
  font-weight: bold;
}
footer .box-content ul {
  padding: 10px 15px;
  margin: 0;
}
footer .box-content li {
  text-align: start;
  border: initial;
  padding: 0;
  margin: 0;
  color: gray;
  padding: 2px;

  font-size: 20px;
}
footer .box-content li:hover {
  cursor: pointer;
}
.ft-last-col {
  padding: 10px 30px;
}
.ft-last-col .box {
  min-height: 10px;
  padding: 0;
}
.ft-last-col ul {
  display: block;
}
.ft-last-col li {
  display: inline;
}

footer li {
  text-transform: uppercase;
}

/* animation */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* nav mobile handle */
#nav-mobile {
  display: none;
}

.navMobileGoesIn {
  animation: navMobileGoesIn 1s forwards;
}
.navMobileGoesOut {
  animation: navMobileGoesOut 1s forwards;
}

.dongchay {
  display: none;
}
.dongChayChay {
  animation: dongChayChay 1s forwards;
}

.dongChayBienMat {
  animation: dongChayBienMat 1s forwards;
}
@keyframes navMobileGoesIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes navMobileGoesOut {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes dongChayChay {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes dongChayBienMat {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/* moblie responsive */
/* 0 - 576 */
@media only screen and (max-width: 576px) {
  nav {
    display: none;
  }

  header {
    margin-bottom: 100px;
  }
  /* nav mobile handle */

  /* hambuger */

  .wrapper {
    z-index: 15;
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  /*
   * Squeeze
   */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease,
      transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  /* nav mobile handle */
  #nav-mobile {
    position: fixed;
    z-index: 14;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* thằng này chuyển động 1 tý */
  .nav-mobile-tab {
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
    color: #fff;
    align-items: center;
    padding: 40px;
    font-size: 35px;
  }
  .dongchay {
    right: 0;
    position: absolute;
    top: 90%;

    width: 0;
    height: 2px;

    background-color: #fff;
  }

  .nav-mobile-tab-content {
    display: flex;
    width: 100%;
    height: 60%;
    color: #fff;

    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    padding-top: 0;
  }
  /* để nhãn có animation giống content thì phải có tính chất giống content */
  .cha-nhan {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nhan {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }
  .nav-mobile-tab-content .row {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nav-mobile-tab-content .col-6 {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(3) {
    left: 50%;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(4) {
    left: 50%;
  }

  .colIn {
    animation: colIn 1s forwards;
  }
  .colOut {
    animation: colOut 1s forwards;
  }

  @keyframes colIn {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }

  @keyframes colOut {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .swipeUp1 {
    animation: swipeUp1 1s forwards;
  }
  .swipeDown1 {
    animation: swipeDown1 1s forwards;
  }

  .swipeUp2 {
    animation: swipeUp2 1s forwards;
  }
  .swipeDown2 {
    animation: swipeDown2 1s forwards;
  }
  /* swipe animation */
  @keyframes swipeUp1 {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
  @keyframes swipeDown1 {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeUp2 {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeDown2 {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .muave {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }

  /*************** */
  .film-world-icon {
    width: 15px;
  }
  nav li a {
    font-size: 9px;
  }
  .logo-link {
    font-size: 12px;
  }
  .logo-world {
    font-size: 12px;
  }

  .slider {
    min-height: 40vh;
  }

  /* buy ticket css */
  #buy-ticket {
    display: none;
  }
  #buy-ticket-mobile {
    display: block;
  }

  /* main */

  /* promotion */
  #promotion .row {
    margin: unset;
  }

  /* about */
  #about .row {
    margin: unset;
  }

  /**/
  #content-current-film .row {
    margin: unset;
  }

  /* film css*/
  .box-title h3 {
    font-size: 20px;
  }
  .seat-header {
    padding: 16px;
  }

  #choose-seat-content {
    font-size: 22px;
  }
  /*********************/
  /* footer */

  footer {
    box-shadow: 3px -15px 20px 0px #fff;
    overflow: hidden;
  }
  footer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .box .box-header {
    font-size: 15px;
  }
  .ft-last-col {
    padding: 10px 30px;
    text-align: center;
  }
}
/* 576 - 768 */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  nav {
    display: none;
  }

  header {
    margin-bottom: 100px;
  }
  /* nav mobile handle */

  /* hambuger */

  .wrapper {
    z-index: 15;
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  /*
   * Squeeze
   */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease,
      transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  /* nav mobile handle */
  #nav-mobile {
    position: fixed;
    z-index: 14;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* thằng này chuyển động 1 tý */
  .nav-mobile-tab {
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
    color: #fff;
    align-items: center;
    padding: 40px;
    font-size: 35px;
  }
  .dongchay {
    right: 0;
    position: absolute;
    top: 90%;

    width: 0;
    height: 2px;

    background-color: #fff;
  }

  .nav-mobile-tab-content {
    display: flex;
    width: 100%;
    height: 60%;
    color: #fff;

    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    padding-top: 0;
  }
  /* để nhãn có animation giống content thì phải có tính chất giống content */
  .cha-nhan {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nhan {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }
  .nav-mobile-tab-content .row {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nav-mobile-tab-content .col-6 {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(3) {
    left: 50%;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(4) {
    left: 50%;
  }

  .colIn {
    animation: colIn 1s forwards;
  }
  .colOut {
    animation: colOut 1s forwards;
  }

  @keyframes colIn {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }

  @keyframes colOut {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .swipeUp1 {
    animation: swipeUp1 1s forwards;
  }
  .swipeDown1 {
    animation: swipeDown1 1s forwards;
  }

  .swipeUp2 {
    animation: swipeUp2 1s forwards;
  }
  .swipeDown2 {
    animation: swipeDown2 1s forwards;
  }
  /* swipe animation */
  @keyframes swipeUp1 {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
  @keyframes swipeDown1 {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeUp2 {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeDown2 {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .muave {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }

  /*************** */
  .film-world-icon {
    width: 15px;
  }
  nav li a {
    font-size: 9px;
  }
  .logo-link {
    font-size: 12px;
  }
  .logo-world {
    font-size: 12px;
  }

  .slider {
    min-height: 40vh;
  }

  /* buy ticket css */
  #buy-ticket {
    display: none;
  }
  #buy-ticket-mobile {
    display: block;
  }

  /* main */

  /* promotion */
  #promotion .row {
    margin: unset;
  }

  /* about */
  #about .row {
    margin: unset;
  }

  /**/
  #content-current-film .row {
    margin: unset;
  }

  /* film css*/
  .box-title h3 {
    font-size: 20px;
  }
  .seat-header {
    padding: 16px;
  }

  #choose-seat-content {
    font-size: 22px;
  }
  /*********************/
  /* footer */

  footer {
    box-shadow: 3px -15px 20px 0px #fff;
    overflow: hidden;
  }
  footer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .box .box-header {
    font-size: 15px;
  }
  .ft-last-col {
    padding: 10px 30px;
    text-align: center;
  }
}

/* 768 - 992 */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  nav {
    display: none;
  }

  header {
    margin-bottom: 100px;
  }
  /* nav mobile handle */

  /* hambuger */

  .wrapper {
    z-index: 15;
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  /*
   * Squeeze
   */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease,
      transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  /* nav mobile handle */
  #nav-mobile {
    position: fixed;
    z-index: 14;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* thằng này chuyển động 1 tý */
  .nav-mobile-tab {
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
    color: #fff;
    align-items: center;
    padding: 40px;
    font-size: 35px;
  }
  .dongchay {
    right: 0;
    position: absolute;
    top: 90%;

    width: 0;
    height: 2px;

    background-color: #fff;
  }

  .nav-mobile-tab-content {
    display: flex;
    width: 100%;
    height: 60%;
    color: #fff;

    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    padding-top: 0;
  }
  /* để nhãn có animation giống content thì phải có tính chất giống content */
  .cha-nhan {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nhan {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }
  .nav-mobile-tab-content .row {
    margin: unset;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
  }
  .nav-mobile-tab-content .col-6 {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(3) {
    left: 50%;
  }
  .nav-mobile-tab-content .row .col-6:nth-child(4) {
    left: 50%;
  }

  .colIn {
    animation: colIn 1s forwards;
  }
  .colOut {
    animation: colOut 1s forwards;
  }

  @keyframes colIn {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }

  @keyframes colOut {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .swipeUp1 {
    animation: swipeUp1 1s forwards;
  }
  .swipeDown1 {
    animation: swipeDown1 1s forwards;
  }

  .swipeUp2 {
    animation: swipeUp2 1s forwards;
  }
  .swipeDown2 {
    animation: swipeDown2 1s forwards;
  }
  /* swipe animation */
  @keyframes swipeUp1 {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
  @keyframes swipeDown1 {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeUp2 {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes swipeDown2 {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }

  .muave {
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }

  /*************** */
  .film-world-icon {
    width: 15px;
  }
  nav li a {
    font-size: 9px;
  }
  .logo-link {
    font-size: 12px;
  }
  .logo-world {
    font-size: 12px;
  }

  .slider {
    min-height: 40vh;
  }

  /* buy ticket css */
  #buy-ticket {
    display: none;
  }
  #buy-ticket-mobile {
    display: block;
  }

  /* main */

  /* promotion */
  #promotion .row {
    margin: unset;
  }

  /* about */
  #about .row {
    margin: unset;
  }

  /**/
  #content-current-film .row {
    margin: unset;
  }

  /* film css*/
  .box-title h3 {
    font-size: 20px;
  }
  .seat-header {
    padding: 16px;
  }

  #choose-seat-content {
    font-size: 22px;
  }
  /*********************/
  /* footer */

  footer {
    box-shadow: 3px -15px 20px 0px #fff;
    overflow: hidden;
  }
  footer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .box .box-header {
    font-size: 15px;
  }
  .ft-last-col {
    padding: 10px 30px;
    text-align: center;
  }
}
/* 992 - 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  /* nav */
  nav li {
    padding: 10px;
  }
  nav a {
    font-size: 20px;
  }
  .logo-link {
    font-size: 25px;
  }
  .logo-world {
    font-size: 25px;
  }

  .film-world-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .film-world-content::after {
    z-index: 11;
  }
  nav > ul > li:first-child {
    padding: 0;
  }

  .slider {
    min-height: 83vh;
  }

  /* main */
  main.mt-5 {
    margin-top: 0 !important;
  }

  /* about */
  #about h4 {
    text-align: center;
  }

  /* footer */
  footer .box .box-header {
    font-size: 20px;
  }
  footer ul {
    margin: 0;
  }
  footer .box-content li {
    font-size: 15px;
  }
}

/* >1200 */
@media only screen and (min-width: 1200px) {
  ul li {
    padding: 15px;
  }
}

/* mobile responsive */
/* width from 576px to 768px */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #left {
    max-width: unset;
    width: 100%;
  }
  /* button booking seat */
  #address .btn {
    padding: 10px 3px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) {
  #nav-mobile {
    display: none !important;
  }
}
